@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  box-sizing: border-box;
}

.body {
  @apply m-auto flex max-w-screen-2xl;
}

.nav {
  @apply sticky left-0 top-0 flex max-h-full min-h-screen w-80  flex-col bg-gray-200 p-2;
}

.userIcon {
  @apply px-3 pb-5 pt-4;
}

.userIconSvg {
  @apply h-9 w-9 text-blue-600 dark:text-blue-600;
}

.navSectionContainer {
  @apply mb-2 rounded-lg p-2 transition-all hover:bg-gray-300 hover:shadow;
}

.navSectionContainerHeader {
  @apply flex items-center justify-between gap-2 pr-0.5;
}
.navBtn {
  @apply w-full rounded-md bg-white p-2 text-left text-sm font-bold  text-blue-600 shadow-lg hover:bg-gray-50 hover:text-blue-800 hover:shadow-xl;
}

.activeTab {
  @apply bg-blue-600  text-gray-50 shadow-sm transition-all;
}
.navSectionContainerHeading {
  @apply font-bold text-blue-600;
}

.navSectionContainerBtn {
  @apply flex items-center justify-center;
}

.navSectionContainerBtn svg {
  @apply text-blue-600 dark:text-blue-600;
}

.navSectionContainerAddBtn {
  @apply ml-auto;
}

.navSectionContainerCollapseBtn {
  @apply transition-transform;
}

.collapseBtnRotate {
  @apply -rotate-90;
}

.navSectionContainerBtnSvg {
  @apply h-4 w-4 text-gray-800 dark:text-black;
}

.navSectionContainerContentContainer {
  @apply flex  flex-col gap-1 overflow-hidden;
}

.projectListContainer {
  @apply flex h-40 flex-col gap-1 overflow-y-auto transition-all;
}

.addProjectForm,
.addLabelForm {
  @apply h-0 w-64  bg-white p-0 shadow transition-all  focus-within:shadow-sm hover:shadow-md;
}

.displayProjectForm {
  @apply my-2 flex h-9 gap-1 rounded-md p-2 transition-all;
}

.addNavFormInput {
  @apply col-span-4 w-full bg-transparent text-sm font-bold text-blue-700 placeholder:text-sm placeholder:font-bold focus-visible:outline-none;
}

.addNavFormBtn {
  @apply h-5 w-5 text-blue-600 dark:text-blue-600;
}

/* .labelsContentContainer {
  @apply;
} */

.label {
  @apply flex min-w-fit items-center justify-center gap-1.5 rounded-full bg-blue-600  px-3 py-1 text-xs font-bold tracking-wider text-gray-50 shadow transition-all hover:bg-gray-100 hover:text-blue-600 hover:shadow-md hover:dark:text-blue-600;
}

.labelDeleteBtn {
  @apply font-bold;
}

.labelDeleteBtnSvg {
  @apply h-5 w-5 text-inherit dark:text-inherit;
}

.labelsContentContainer {
  @apply flex h-40 flex-wrap content-start items-start justify-start gap-2 overflow-y-auto transition-all;
}

.content {
  @apply relative flex h-screen w-full flex-col items-start justify-start overflow-scroll overflow-x-hidden bg-gray-100 text-black;
}

.contentContainer {
  @apply flex w-full items-center  justify-center px-14 py-4;
}

.content-form {
  @apply flex w-full max-w-screen-md flex-col gap-2 rounded-lg  border border-black border-opacity-20 bg-transparent p-2;
}

.content-header {
  @apply w-full px-14  pt-12;
}

.content-header-heading {
  @apply mx-44 border-b border-black border-opacity-20 pb-2 text-3xl font-bold text-blue-700;
}

.todo-details {
  @apply flex flex-col gap-1;
}

.todo-details-name {
  @apply bg-transparent  p-0 text-base font-bold placeholder:text-base placeholder:font-extrabold focus-visible:outline-none;
}

.todo-details-description {
  @apply bg-transparent p-0 text-sm font-bold placeholder:text-sm placeholder:font-bold focus-visible:outline-none;
}

.form-optionals {
  @apply flex gap-3;
}

.form-details-tags {
  @apply rounded border  border-black border-opacity-20 bg-transparent p-0.5 text-sm font-semibold text-black text-opacity-55 outline-none;
}

.form-submit {
  @apply flex justify-between gap-3;
}

.form-button-container {
  @apply flex gap-1;
}

.todo-form-btns {
  @apply rounded  px-3 py-1 text-sm font-semibold text-gray-700 transition-all hover:bg-blue-600 hover:text-white;
}

.deletedTaskWarning {
  @apply absolute right-10 top-5  z-10 flex flex-col-reverse gap-2;
}

.warning {
  @apply flex -translate-y-5 items-center justify-between gap-0.5 rounded-full bg-gray-200 px-3 py-2 transition-all hover:bg-gray-300;
}

.timer {
  @apply h-5 w-5 rounded-full;
}

.undoWarningBtn {
  @apply rounded-full px-1 text-sm font-bold text-gray-700 transition-all hover:text-gray-950;
}

.tasks {
  @apply flex w-full flex-col items-center justify-center gap-5 px-14 py-4;
}

.task {
  @apply grid  w-full max-w-screen-md gap-2 rounded-lg border  border-black border-opacity-30 p-2;
  grid-template-columns: auto 1fr auto;
}

.completeMarkerContainenr {
  @apply pt-1;
}

.completeMarker {
  @apply block h-4 w-4 rounded-full border-4 border-blue-600 bg-transparent ring-0 transition-all hover:ring-2;
}

.completeMarkerChecked {
  @apply bg-blue-600;
}

.displayWarning {
  @apply translate-y-0 opacity-100;
}

.taskContent {
  @apply flex flex-col gap-0.5;
}

.taskHeading {
  @apply text-base font-extrabold;
}

.taskDescription {
  @apply text-sm font-bold;
}

.otherTags {
  @apply mt-0.5 flex gap-2 text-sm font-semibold;
}

.taskDate {
  @apply bg-green-100 text-green-600 outline outline-1 outline-green-600;
}

.taskPriority {
  @apply bg-red-100 text-red-600 outline outline-1 outline-red-600;
}

.taskTag {
  @apply bg-orange-100 text-orange-600 outline outline-1 outline-orange-600;
}

.taskDate,
.taskPriority,
.taskTag {
  @apply rounded-full px-2 py-0.5  text-xs font-extrabold;
}

.taskOptions {
  @apply p-1;
}

.taskEdit,
.taskDelete {
  @apply rounded  px-3 py-1 text-sm font-extrabold transition-all hover:bg-red-500 hover:text-gray-50;
}

.divider {
  @apply absolute -bottom-3  w-full  border border-black border-opacity-10;
}

.hideNavSection {
  @apply h-0;
}

.removeWarning {
  @apply translate-y-5 opacity-0;
}

.hideTask {
  @apply hidden;
}

input {
  @apply rounded bg-white  px-2 py-1 text-black;
}

.project {
  @apply mb-2 mr-1 shadow-2xl;
}

.circle {
  @apply h-full w-full rounded-full stroke-green-500;
  stroke-dashoffset: 0;
  stroke-width: 10;
  stroke-dasharray: 300;
  animation: dash 5s linear alternate;
}
@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 200;
  }
}
